@if (Session["user_id"] == null)
{

    ViewBag.Title = "Регистрация в МЕГАЧАТ3000";


    @model DataModel.User

    <h1>Чат - регистрация</h1>
    <div class="container">
        <div class="row text-center">
            @using (Html.BeginForm(FormMethod.Post))
            {
            <!--Здесь будут выводится сообщения об ошибках-->
                <center>
                    @Html.ValidationSummary(true)
                    @Html.ValidationMessageFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Password)
                </center>

                <div class="form-group">
                    <label for="login">Логин</label>
                    <center>
                        @Html.TextBoxFor(model => model.Login, new
                   {
                       @class = "form-control",
                       @placeholder = "Логин",
                       @required = true
                   })
                    </center>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <center>
                        @Html.TextBoxFor(model => model.Password, new
                   {
                       @class = "form-control",
                       @placeholder = "Пароль",
                       @required = true,
                       @minlength = 6,
                       @maxlength = 18,
                       @type = "password"
                   })
                    </center>
                </div>
                <a href="/Chat/StartPage" class="btn btn-primary">Главная</a>
                <input type="submit" class="btn btn-default" value="Регистрация" />
            }
        </div>
    </div>
}
else
{
    Response.Redirect("/Chat/Chat");
}
